# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.nn.u3o2.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Development\unity\nn.u3o2\.idea\.idea.nn.u3o2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
